ansible==5.0.1
ansible-core==2.12.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
configparser==5.2.0
cryptography==36.0.0
dnsimple==2.3.0
dnspython==2.1.0
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
omitempty==0.1.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.6
PyYAML==6.0
requests==2.26.0
resolvelib==0.5.4
urllib3==1.26.7
zabbix-api==0.5.4
